
.container {
    height: 100px;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: beige;
    font-size: 40px;
    padding: 0 50px;
    align-items: center;
    border-bottom: 2px solid white;
    box-sizing: border-box;
}
.right {
    display: flex;
    justify-content: space-around;
    gap: 80px;
}